<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
  
  <!-- Servlets -->
  <servlet>
    <servlet-name>bookmarkServlet</servlet-name>
    <servlet-class>de.hdawg.wci.portlets.bookmarks.server.BookmarkServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>bookmarkServlet</servlet-name>
    <url-pattern>/bookmarks/bookmarkService</url-pattern>
  </servlet-mapping>
  
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>Bookmarks.html</welcome-file>
  </welcome-file-list>

</web-app>
